/*details {*/
/*    background-color: #f0f0f0; !* Light gray background *!*/
/*    padding: 10px;*/
/*    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2); !* Adds shadow to the details element *!*/
/*    border-radius: 5px;*/
/*    border: 1px solid black; !* Optional: border to differentiate the section *!*/
/*    background: #C09000; !* Green background *!*/
/*}*/

/*!* Change the color of the summary (the clickable part) *!*/
/*details summary {*/
/*    background-color: #C09000; !* Green background *!*/
/*    color: black;*/
/*    border: black;*/
/*    padding: 5px;*/
/*    border-radius: 3px;*/
/*    cursor: pointer;*/
/*    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2); !* Adds shadow to the details element *!*/
/*}*/

/*!* Optional: Change the color when hovering over the summary *!*/
/*details summary:hover {*/
/*    border: black;*/
/*    background-color: #C09000; !* Darker green on hover *!*/
/*    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2); !* Adds shadow to the details element *!*/
/*}*/

/*!* Optional: Change the list item color *!*/
/*details ul li {*/
/*    border: black;*/
/*    color: #333; !* Dark text *!*/
/*}*/

.md-typeset details:not([open]) > summary {
    border: black;
    background: #C09000;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2); /* Adds shadow to the details element */
}

.md-typeset details:not([close]) > summary {
    border: black;
    background-color: #ccf;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2); /* Adds shadow to the details element */
}
