
.md-typeset details:not([open]) > summary {
    border: black !important;
    background: #C09000 !important;
     box-shadow: none;
}

.md-typeset details:not([close]) > summary {
    border: black !important;
    background: #C09000 !important;
    background-color: white !important;
    box-shadow: none; /* Adds shadow to the details element */
}

.md-typeset details p {
  margin-left: 20px; /* Adjust the indentation for paragraphs inside list items */
  margin-top: 5px; /* Adjusts the top margin to give space between the text and the paragraph */
}

.md-typeset details {
  border: .075rem solid black;
  border-radius: .2rem;
  box-shadow: none;
  color: black;
  display: flow-root;
  font-size: .64rem;
  margin: 1.5625em 0;
  padding: 0 .6rem;
    padding-top: 0px;
  page-break-inside: avoid;
  transition: box-shadow 125ms;
}

[data-md-color-primary="amber"]:not([data-md-color-scheme="slate"]) {
  --md-typeset-a-color: #d19d00;
    box-shadow: none;
}
:root {
    --md-admonition-icon--note: url("src/notebook-svgrepo-com.svg");
}
